<!doctype html>
<html lang="zh-cn" ng-app>
<head>
    <meta charset="UTF-8">
    <title>王楠-个人简历</title>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/angular.min.js"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            王楠的简历
        </h1>
        <nav>
            <ul>
                <li><a href="index.html" >基本信息</a></li>
                <li><a href="education.html ">教育经历</a></li>
                <li><a href="experience.html">工作经历</a></li>
                <li><a href="Front-end.html">前端历练</a></li>
                <li><a href="youInfo.html">你的信息</a></li>
                <li><a href="blessing.html" class="current">寄语</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
                 <section class="works">
                    <p><strong>个人作品：</strong></p>
                    <p><a href="http://ctianjinnan.github.io/bicycle_site_demo/ " target="_blank">自行车杂志网站demo</a></p>
                    <p> <a href="http://ctianjinnan.github.io/pic_site_demo/ " target="_blank">图片网站demo</a></p>
                    <p> <a href="http://ctianjinnan.github.io/Ordering_APP_demo/" target="_blank">订餐APP demo</a></p>
                    <p> <a href="http://ctianjinnan.github.io/css3_animate_demo/" target="_blank">css3动画demo</a></p>
                    <p><a href="http://ctianjinnan.github.io/bootstrap_forum_demo/" target="_blank">bootstrap论坛后台管理demo</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap_practise1/" target="_blank">bootstrap框架作品1</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap_practise2/" target="_blank">bootstrap框架作品2</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap_practise3/ " target="_blank">bootstrap框架作品3</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap-practice4/" target="_blank">bootstrap框架作品4</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap-practice5/" target="_blank">bootstrap框架作品5</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap-practice6/" target="_blank">bootstrap框架作品6</a></p>
                    <p><a href="https://ctianjinnan.github.io/bootstrap-practice7/" target="_blank">bootstrap框架作品7</a></p>
                    <p> <a href="https://ctianjinnan.github.io/bootstrap-practice8/" target="_blank">bootstrap框架作品8</a></p>
                </section>
        <div class="onethird">
            <p class="welcome">亲爱的朋友，在这里可以写下你对我的祝福！！</p>
            <form>
                To:<br>
                <input ng-model="name" type="text" /><br>
                Message:<br>
                <textarea ng-model="message"></textarea>
                <input type="submit" value="发送" />
            </form>
        </div>
        <div class="two-thirds">
            <div class="postcard">
                <div>{{ name }}</div>
                <p>{{ message }}</p>
            </div>
        </div>
    </div><!-- .container -->
    <footer>
        &copy; 2016 王楠的简历
    </footer>
</div><!-- .wrapper -->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/blessing.js"></script>
</body>
</html>
